body {
	font-family: 'Poppins', sans-serif;

	margin: 0;
	padding: 0;
}
.dark {
	background-color: #332b53;
	transition: background-color 300ms;
}
.light {
	background-color: #fff;
	transition: background-color 300ms;
}

.ReactModal__Overlay--after-open {
	background-color: #ffffff1f !important;
}
.modal-dark {
	position: absolute;
	inset: 40px;
	border: 1px solid rgb(204, 204, 204);
	background-color: #332b53;
	overflow: auto;
	border-radius: 4px;
	outline: none;
	padding: 20px;
	transition: background-color 300ms;
}
.modal-light {
	position: absolute;
	inset: 40px;
	border: 1px solid rgb(204, 204, 204);
	background-color: #fff;
	overflow: auto;
	border-radius: 4px;
	outline: none;
	padding: 20px;
	transition: background-color 300ms;
}

.ReactModal__Overlay {
	opacity: 0;
	transition: opacity 300ms ease-in-out;
}

.ReactModal__Overlay--after-open {
	opacity: 1;
}

.ReactModal__Overlay--before-close {
	opacity: 0;
}

.checkbox-input[type='checkbox'] {
	height: 0;
	width: 0;
	visibility: hidden;
}

.checkbox-label {
	cursor: pointer;
	text-indent: -9999px;
	width: 38px;
	height: 14px;
	background: grey;
	display: block;
	border-radius: 100px;
	position: relative;
}

.checkbox-label:after {
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	width: 10px;
	height: 10px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

.checkbox-input:checked + .checkbox-label {
	background: #bada55;
}

.checkbox-input:checked + .checkbox-label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

.checkbox-label:active:after {
	width: 20px;
}
